# Python 3-only
-e git+https://github.com/ldo/qahirah#egg=qahirah
-e git+https://github.com/ldo/python_freetype#egg=python_freetype
-e git+https://github.com/ldo/pybidi#egg=pybidi
-e git+https://github.com/ldo/harfpy#egg=harfpy
