setuptools
pip
poetry
unicodedata2>=11.0.0; python_version < '3.9' and platform_python_implementation != "PyPy"
PyICU
brotli>=1.0.7; platform_python_implementation != "PyPy"
brotlipy>=0.7.0; platform_python_implementation == "PyPy"
scipy>=1.2.1; platform_python_implementation != "PyPy"
munkres>=1.0.12; platform_python_implementation == "PyPy"  # pyup: ignore
zopfli>=0.1.6
fs>=2.4.4
Pillow>=4.0.0
scour>=0.37
protobuf>=3.7.1
requests>=2.21.0
lxml>=4.3.3
pycairo>=1.18.0
attrs<19.0,>=18.2
git+https://github.com/googlefonts/cu2qu
git+https://github.com/typemytype/booleanOperations; python_version < '3'
git+https://github.com/fonttools/skia-pathops
git+https://github.com/fonttools/pyclipper
git+https://github.com/fonttools/fonttools/#egg=fonttools[interpolatable,lxml,plot,symfont,type1,ufo,unicode,woff]
afdko>=2.8.8
git+https://github.com/daltonmaag/statmake
git+https://github.com/rougier/freetype-py
git+https://github.com/harfbuzz/uharfbuzz
git+https://github.com/fonttools/ufoLib2
git+https://github.com/fonttools/ttfautohint-py
git+https://github.com/robotools/defconAppKit
git+https://github.com/robotools/defcon
git+https://github.com/robotools/fontParts
git+https://github.com/robotools/vanilla
git+https://github.com/robotools/extractor
git+https://github.com/robotools/compositor
git+https://github.com/robotools/ufo2fdk
git+https://github.com/robotools/fontMath
git+https://github.com/LettError/MutatorMath
git+https://github.com/typesupply/feaPyFoFum
git+https://github.com/LettError/glyphNameFormatter
git+https://github.com/unified-font-object/ufoLib
git+https://github.com/unified-font-object/ufoNormalizer
git+https://github.com/googlefonts/compreffor
git+https://github.com/googlefonts/picosvg
git+https://github.com/googlefonts/nanoemoji
git+https://github.com/googlefonts/ufo2ft
git+https://github.com/googlefonts/glyphsLib
git+https://github.com/googlefonts/nototools
git+https://github.com/googlefonts/fontmake
git+https://github.com/googlefonts/ots-python
git+https://github.com/adobe-type-tools/psautohint
git+https://github.com/adobe-type-tools/afdko
git+https://github.com/googlefonts/gftools
git+https://github.com/googlefonts/gfregression
git+https://github.com/googlefonts/fontdiffenator
git+https://github.com/googlefonts/diffbrowsers
git+https://github.com/googlefonts/pyfontaine
git+https://github.com/googlefonts/fontbakery
git+https://github.com/anthrotype/unicode-segmentation-py
git+https://github.com/anthrotype/usvg-python
git+https://github.com/daltonmaag/vttLib
git+https://github.com/daltonmaag/extractFea
git+https://github.com/daltonmaag/sfntly-py
git+https://github.com/source-foundry/font-line
git+https://github.com/source-foundry/ufolint
git+https://github.com/source-foundry/fdiff
git+https://github.com/source-foundry/font-v
git+https://github.com/source-foundry/dehinter
git+https://github.com/source-foundry/ufodiff
git+https://github.com/Pal3love/otRebuilder
git+https://github.com/trufont/tfont
git+https://github.com/twardoch/fonttools-py27; python_version < '3'
git+https://github.com/ldo/qahirah; python_version >= '3.6'
git+https://github.com/ldo/python_freetype; python_version >= '3.6'
git+https://github.com/ldo/pybidi; python_version >= '3.6'
git+https://github.com/ldo/harfpy; python_version >= '3.6'
