# Unicode-related
unicodedata2

# fontmake
fontmake

# font-related
git+https://github.com/typesupply/feaPyFoFum#egg=feaPyFoFum
ufo-extractor
git+https://github.com/LettError/glyphNameFormatter#egg=glyph-name-formatter
git+https://github.com/LettError/designSpaceDocument#egg=designSpaceDocument
pyparsing
git+https://github.com/daltonmaag/vttLib#egg=vttLib
git+https://github.com/googlei18n/nototools#egg=nototools
font-line
git+https://github.com/anthrotype/shapeops-py#egg=shapeops
